@page "/admin/game-edit"
@page "/admin/game-edit/{id:guid}"
@rendermode InteractiveAuto
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager NavigationManager
@inject IGameAdminService GameAdminService

@* InjectionCodePlaceholder *@

<section>
    @if (Id.Equals(Guid.Empty))
    {
        <h1>Create Game</h1>
    }
    else
    {
        <h1>Edit Game</h1>
    }
    <article>
        <EditForm class="container" Model="gameAdminEditModel" OnSubmit="HandleSubmit">

            <div class="row">
                <div class="col">
                    <label>
                        Name:
                        <InputText @bind-Value="gameAdminEditModel.Name" />
                    </label>
                </div>
            </div>
            @* EditRowCodePlaceholder *@

            <div class="row">
                <div class="col">
                    @if (!Id.Equals(Guid.Empty))
                    {
                        <button @onclick="Delete" type="button" class="btn btn-danger">Delete</button>
                    }
                </div>
                <div class="col">
                    <a href="/admin/game-list">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </EditForm>
    </article>
</section>

@code {
    [Parameter]
    public Guid Id { get; set; }
    GameAdminEditModel gameAdminEditModel { get; set; } = new GameAdminEditModel();

    @* ListDeclarationCodePlaceholder *@

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        @* OnInitializedCodePlaceholder *@
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id.Equals(Guid.Empty))
        {
            return;
        }

        var databaseGameAdminDataTransferObject = await GameAdminService.GetByIdAsync(Id);

        if (databaseGameAdminDataTransferObject == null)
        {
            gameAdminEditModel = new GameAdminEditModel();
        }
        else
        {
            gameAdminEditModel = GameAdminEditModel.FromGameAdminDataTransferObject(databaseGameAdminDataTransferObject);
        }
    }

    async Task HandleSubmit()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name;

        if (userName == null)
        {
            return;
        }

        @* if (string.IsNullOrWhiteSpace(gameAdminEditModel.Name))
        {
            return;
        } *@

        var gameAdminDataTransferObject = GameAdminEditModel.ToGameAdminDataTransferObject(gameAdminEditModel);

        if (Id.Equals(Guid.Empty))
        {
            var newGameAdminDataTransferObject = await GameAdminService.AddAsync(userName, gameAdminDataTransferObject);

            if (newGameAdminDataTransferObject == null)
            {
                return;
            }

            NavigationManager.NavigateTo($"/admin/game-edit/{newGameAdminDataTransferObject.Id}");
        }
        else
        {
            await GameAdminService.EditAsync(userName, Id, gameAdminDataTransferObject);
        }
    }

    async Task Delete()
    {
        if (Id.Equals(Guid.Empty))
        {
            return;
        }

        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name!;

        if (userName == null)
        {
            return;
        }

        await GameAdminService.DeleteAsync(userName, Id);
        NavigationManager.NavigateTo($"/admin/game-list");
    }

    @* OnChangeCodePlaceholder *@
}
