@page "/game-guids-edit"
@page "/game-guids-edit/{id:guid}"
@inject IGameGuidService GameGuidService
@rendermode InteractiveAuto

@if (Id == null)
{
    <h3>Create Game Guids</h3>
}
else
{
    <h3>Edit @gameGuid.Name</h3>
}

<EditForm Model="gameGuid" OnSubmit="HandleSubmit">
    <label>Name</label>
    <InputText @bind-Value="gameGuid.Name">@gameGuid.Name</InputText>
    <button type="submit" class="btn btn-primary">Submit</button>
    @if (Id != null)
    {
        <button @onclick="Delete" type="button" class="btn btn-danger">Delete</button>
    }
</EditForm>

@code {
    [Parameter]
    public Guid? Id { get; set; }
    GameGuid gameGuid { get; set; } = new GameGuid { Name = string.Empty };

    protected override async Task OnParametersSetAsync()
    {
        gameGuid = await GameGuidService.GetByIdAsync((Guid)Id);
    }

    async Task HandleSubmit()
    {
        if (Id == null)
        {
            await GameGuidService.AddAsync(gameGuid);
        }
        else
        {
            await GameGuidService.EditAsync((Guid)Id, gameGuid);
        }
    }

    async Task Delete()
    {
        await GameGuidService.DeleteAsync((Guid)Id);
    }
}
