@page "/admin/game-list"
@inject IGameAdminService GameAdminService
@attribute [StreamRendering]

<section>
    <h1>Game List</h1>
    <article>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    @* ListHeaderCodePlaceholder *@
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (games == null)
                {
                    <tr>
                        @* LoadingCountCodePlaceholder *@
                    </tr>
                }
                else if (games.Count == 0)
                {
                    <tr>
                        @* ZeroCountCodePlaceholder *@
                    </tr>
                }
                else
                {
                    @foreach (var game in games)
                    {
                        <tr>
                            <td>@game.Id</td>
                            <td>@game.Name</td>
                            @* ListItemCodePlaceholder *@
                            <td>
                                <NavButton Href="@("/admin/game-edit/" + game.Id)" Name="Edit" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <NavButton Href="/admin/game-edit" Name="Create" />
    </article>
</section>

@code {
    List<Game>? games = null;

    protected override async Task OnInitializedAsync()
    {
        games = await GameAdminService.GetAllAsync();
    }
}
