@page "/admin/game-list"
@rendermode InteractiveServer
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IGameAdminService GameAdminService
@attribute [StreamRendering]

<PageTitle>Game List</PageTitle>

<section>
  <h1>Game List</h1>
  <article>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Id</th>

          <th scope="col">Name</th>
              @* ListHeaderCodePlaceholder *@

          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (games == null)
        {
          <tr>
            <td colspan="3">Loading...</td>
            @* LoadingCountCodePlaceholder *@
          </tr>
        }
        else if (games.Count == 0)
        {
          <tr>
            @* ZeroCountCodePlaceholder *@
          </tr>
        }
        else
        {
          @foreach (var game in games)
          {
            <tr>
              <td>@game.Id</td>
              <td>@game.Name</td>
          @* ListItemCodePlaceholder *@
              <td>
                <a href="@("/admin/game-edit/" + game.Id)">Edit</a>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
    <a href="/admin/game-edit">Create</a>
  </article>
</section>

@code {
  List<Game>? games = null;

  protected override async Task OnInitializedAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    games = await GameAdminService.GetAllAsync(userName);
  }
}
