@page "/game-guids"
@inject IGameGuidService GameGuidService
@inject NavigationManager NavigationManager
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(false))

<h3>Game Guids List</h3>

@if (gameGuids == null)
{
    <span>Loading...</span>
}
else if (gameGuids.Count == 0)
{
    <span>No game guids found.</span>
}
else
{
    <ul>
        @foreach (var gameGuid in gameGuids)
        {
            <li>@gameGuid.Name</li>
        }
    </ul>
}
<button @onclick="Create" class="btn btn-primary">Create</button>

@code {
    List<GameGuid>? gameGuids = null;

    protected override async Task OnInitializedAsync()
    {
        gameGuids = await GameGuidService.GetAllAsync();
    }

    void Create()
    {
        NavigationManager.NavigateTo("/game-guids-edit");
    }
}
