@page "/game-ints"
@inject IGameIntService GameIntService
@attribute [StreamRendering]

<h3>Game Ints List</h3>

@if (gameInts == null)
{
    <span>Loading...</span>
}
else if (gameInts.Count == 0)
{
    <span>No game ints found.</span>
}
else
{
    <ul>
        @foreach (var gameInt in gameInts)
        {
            <li>
                @gameInt.Name
                @if (gameInt.Id != null)
                {
                    <NavButton Href="@("/game-ints-edit/" + ((int)gameInt.Id).ToString())" Name="Edit" />
                }
            </li>
        }
    </ul>
}
<NavButton Href="/game-ints-edit" Name="Create" />

@code {
    List<GameInt>? gameInts = null;

    protected override async Task OnInitializedAsync()
    {
        gameInts = await GameIntService.GetAllAsync();
    }
}
