@page "/game-ints"
@inject IGameIntService GameIntService
@inject NavigationManager NavigationManager
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(false))

<h3>Game Ints List</h3>

@if (gameInts == null)
{
    <span>Loading...</span>
}
else if (gameInts.Count == 0)
{
    <span>No game ints found.</span>
}
else
{
    <ul>
        @foreach (var gameInt in gameInts)
        {
            <li>@gameInt.Name</li>
        }
    </ul>
}
<button @onclick="Create" class="btn btn-primary">Create</button>

@code {
    List<GameInt>? gameInts = null;

    protected override async Task OnInitializedAsync()
    {
        gameInts = await GameIntService.GetAllAsync();
    }

    void Create()
    {
        NavigationManager.NavigateTo("/game-guids-edit");
    }
}
