@page "/game-strings"
@inject IGameStringService GameStringService
@inject NavigationManager NavigationManager
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(false))

<h3>Game Strings List</h3>

@if (gameStrings == null)
{
    <span>Loading...</span>
}
else if (gameStrings.Count == 0)
{
    <span>No game strings found.</span>
}
else
{
    <ul>
        @foreach (var gameString in gameStrings)
        {
            <li>@gameString.Name</li>
        }
    </ul>
}
<button @onclick="Create" class="btn btn-primary">Create</button>

@code {
    List<GameString>? gameStrings = null;

    protected override async Task OnInitializedAsync()
    {
        gameStrings = await GameStringService.GetAllAsync();
    }

    void Create()
    {
        NavigationManager.NavigateTo("/game-guids-edit");
    }
}
