@page "/games"
@inject IGameService GameService
@inject NavigationManager NavigationManager
@attribute [StreamRendering]

<h3>Game List</h3>

@if (games == null)
{
    <span>Loading...</span>
}
else if (games.Count == 0)
{
    <span>No games found.</span>
}
else
{
    <ul>
        @foreach (var game in games)
        {
            <li>@game.Name <EditButton Id="game.Id" Url="/games-edit" /></li>
        }
    </ul>
}
<CreateButton Url="/games-edit" />

@code {
    List<Game>? games = null;

    protected override async Task OnInitializedAsync()
    {
        games = await GameService.GetAllAsync();
    }
}
