@page "/game-guids-edit"
@page "/game-guids-edit/{id:guid}"
@inject IGameGuidService GameGuidService

<h3>Create Game Guids</h3>

<EditForm Model="gameGuid" OnSubmit="HandleSubmit" FormName="editGameGuid">
    <label>Name</label>
    <InputText @bind-Value="gameGuid.Name">@gameGuid.Name</InputText>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [Parameter]
    public Guid? Id { get; set; }
    [SupplyParameterFromForm]
    GameGuid gameGuid { get; set; } = new GameGuid { Name = string.Empty };

    async Task HandleSubmit()
    {
        await GameGuidService.AddAsync(gameGuid);
    }
}
